<%= form_for @detail_order, :html => { :class => "form-horizontal detail_order" } do |f| %>

    <% if @detail_order.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@detail_order.errors.count, "error") %> prohibited this detail_order from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @detail_order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :quantity, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :quantity, :class => 'form-control' %>
    </div>
    <%= error_span(@detail_order[:quantity]) %>
  </div>
  <div class="control-group">
    <%= f.label :product_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :product_id, :class => 'form-control' %>
    </div>
    <%= error_span(@detail_order[:product_id]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            detail_orders_path, :class => 'btn btn-default' %>

<% end %>
