<%- model_class = Pet -%>
<div class="content-header">
  <h1>
    <%=t '.title', :default => model_class.model_name.human.pluralize.titleize %>
    <div class="pull-right">
      <%= link_to '<i class="fa fa-plus "></i> Add'.html_safe, new_pet_path, :class => 'btn btn-success btn-sm' %>
    </div>
  </h1>
</div>

<section class="content">
 <div class="box">
    <div class="box-body table-responsive no-padding">
      <table class="table table-hover">
        <tbody>
          <tr>
            <th>#</th>
            <th><%= model_class.human_attribute_name(:name) %></th>
            <th><%= model_class.human_attribute_name(:race) %></th>
            <th><%= model_class.human_attribute_name(:age) %></th>
            <th><%= model_class.human_attribute_name(:weight) %></th>
            <th><%= model_class.human_attribute_name(:sex) %></th>
            <th><%= model_class.human_attribute_name(:customer_id) %></th>
            <th><%= model_class.human_attribute_name(:created_at) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
          </tr>
          
          <% @pets.each do |pet| %>
            <tr>
              <td><%= link_to pet.id, pet_path(pet) %></td>
              <td><%= pet.name %></td>
              <td><%= pet.race %></td>
              <td><%= pet.age %></td>
              <td><%= pet.weight %></td>
              <td><%= pet.sex %></td>
              <td><%= pet.customer_id %></td>
              <td><%=l pet.created_at %></td>
              <td>
                <%= link_to '<i class="fa fa-edit"></i>'.html_safe,
                            edit_pet_path(pet), :class => 'btn btn-xs btn-warning' %>
                <%= link_to '<i class="fa fa-trash-o"></i>'.html_safe,
                            pet_path(pet),
                            :method => :delete,
                            :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                            :class => 'btn btn-xs btn-danger' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</section>